// Base Color 以顏色命名
$blue: #324157;
$blue-light: #3a71a8;


// Text Color 字體顏色
$text-color1: #35495e;
$text-color2: #d1e0f0;
$text-color3: #d3dce6;
$title-color:#303133;

// Layout Color 主題顏色
$header-color:#f7f8f9;
$background-color:#f0f2f5;
$sidebar-color:#ffffff;
$sidebar-color-selected:#f0f2f5;
$section-color:#123456;

// Theme Color
$primary-color:#409EFF;   // 主要顏色 - 主色
$secondary-color:#003E5A; // 次要顏色 - 輔色


// Alert Color
$alert-success-color:#67C23A;
$alert-warning-color:#E6A23C;
$alert-danger-color:#F56C6C;


// 字體相關

// 字體大小
$base-font-size: 16px; 
$header-font-size: 24px;


// 間距 margin & padding & border

// 預設間距
$default-margin: 10px;
$default-padding: 15px;
$default-border: 1px solid #ddd;

// 按鈕間距
$button-margin: 10px;
$button-padding: 15px;
$button-border: 1px solid #ddd;

// media screen for RWD - breakpoint
$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// media screen for RWD - media
$phone-width: 768px;
$tablet-width: 992px;
$desktop-width: 1200px;
