// Base Color 以顏色命名
$blue: #324157;
$blue-light: #3a71a8;


// Text Color 字體顏色
$text-color1: #35495e;
$text-color2: #d1e0f0;
$text-color3: #d3dce6;
$title-color:#303133;

// Layout Color 主題顏色
$header-color:#f7f8f9;
$background-color:#f0f2f5;
$sidebar-color:#ffffff;
$sidebar-color-selected:#f0f2f5;
$section-color:#123456;

// Theme Color
$primary-color:#409EFF;   // 主要顏色 - 主色
$secondary-color:#003E5A; // 次要顏色 - 輔色


// Alert Color
$alert-success-color:#67C23A;
$alert-warning-color:#E6A23C;
$alert-danger-color:#F56C6C;

